.query {
    font-size: 40px;
    width: 100%;

    &_return {
        // background-color: green;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &_proposition {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 50px;
            width: 100%;
        }

        &_button {
            border: 0;
            padding: 0;
            height: 100%;
            width: 200px;

            .picture {
                width: 100%;
            }
        }
    }

    .pool {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        width: 100%;
        height: 100%;

        .picture {
            display: flex;
            height: 300px;
        }
    }
}