.foot {
    width: 100%;
    height: 109px;
    background: radial-gradient(circle, $fourth-color 30%, $tertiary-color 50%, $secondary-color 80%, $primary-color 100%);

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .img {
            height: 100px;
            margin-left: 10%;
        }
    }

    .btnToTop {
        margin-right: 2%;
        margin-top: 2%;
        background-color: transparent;
        border: none;
        font-size: 70px;
        cursor: pointer;
        color: $fourth-color;

        &:hover {
            color: $secondary-color;
            transition: 0.3s ease-in-out;
        }
    }
}